<%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header')%>
    <%- include('includes/aside')%>
    <main>
      <h1>Spmethong Went Wrong</h1>
      <p>Unfortunately something went wrong - we are trying to fix it as quickly as possible!</p>
    </main>
  </body>
</html>
